.streamPicFrame {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.infoStream {
    width: 250px;
    display: flex;
    padding: 15px;
}

.streamData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:5%;
}

.ui.tiny.avatar {
    width: 55px;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
}

.streamItem {
    padding: 0;
    margin: 10px;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    border-radius: 10px;
    overflow: hidden;
}

.streamDataShow {
    display: flex;
    justify-content: start;
    align-items: center;
}

.streamDataShow > .username {
    margin-left: 1em;
}

.adminButtons {
    width: 250px;
    display: flex;

}

.adminButtons > a {
    flex-grow: 1;
}

.streamTitleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}

.item {
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    padding: 0;
    border-radius: 10px;
    overflow: hidden;

}

.ui.grid>* {
    padding: 0;
    margin: 10px;
}
/* stream username */
.description, .username {
    color: grey;
}

.streamForm  {
    width: 100%;
    max-width: 700px;
    padding: 30px;
    margin: 0 auto;
}

.thumbnailContainer {
    margin: 0 0 1em;
}